.tm-fade-loading-enter-active,
.tm-fade-loading-leave-active {
  transition: opacity 0.4s ease;
}

.tm-fade-loading-enter-from,
.tm-fade-loading-leave-to {
  opacity: 0;
}

.tm-fade-loading-enter-to,
.tm-fade-loading-leave-from {
  opacity: 1;
}
